@using Offwind.WebApp.Infrastructure
@model Offwind.WebApp.Models.LocalPasswordModel
@{
    ViewBag.Title = "Change password";
}

<div class="row-fluid row-content-block">
    <div class="span12 well">
        <h1>Change password</h1>
        @if (ViewBag.StatusMessage != null && ViewBag.StatusMessage.Length > 0)
        {
            <p class="alert alert-success">@ViewBag.StatusMessage</p>
        }

        @using (Html.BeginForm("ChangePassword", "Account"))
        {
            @Html.AntiForgeryToken()
            @Html.BootstrapValidationSummary()

            <fieldset>
                <legend>Please, fill in the form</legend>
                @Html.EditorFor(m => m.OldPassword)
                @Html.EditorFor(m => m.NewPassword)
                @Html.EditorFor(m => m.ConfirmPassword)
                <input type="submit" class="btn btn-primary btn-large" value="Change password" />
            </fieldset>
        }

    </div>
</div>


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
