@model Offwind.WebApp.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

    <h2>Use a local account to log in.</h2>
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="control-group">
            <label class="control-label" for="UserName">User name</label>
            <div class="controls">
                <input type="text" class="" id="UserName" name="UserName" value="@Model.UserName"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Password">Password</label>
            <div class="controls">
                <input type="password" class="" id="Password" name="Password" value="@Model.Password"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="RememberMe">Remember me</label>
            <div class="controls">
                @Html.CheckBoxFor(m => m.RememberMe)
                <input type="checkbox" class="" id="RememberMe" name="RememberMe" value="@Model.RememberMe"/>
            </div>
        </div>
        
        <input type="submit" class="btn btn-primary" value="Log in" />
    </fieldset>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
