@model Offwind.WebApp.Models.Account.VUserProfile
@{
    ViewBag.Title = "User Profile";
}
<style>
    .ph {
        font-weight: bold;
    }
</style>

@if (ViewBag.JustRegistered)
{
    <div class="row-fluid row-content-block">
        <div class="span12 well">
            <h1>Thank you for registration!</h1>
            <p>Your account <strong>@Model.UserName</strong> has been successfully created!</p>
            <p>You can already start using Offwind Toolkit.</p>
            <p>For security reasons we recommend you to go through a verification procedure. Please, check your email and follow the link in it to continue</p>
        </div>
    </div>
}

<div class="row-fluid row-content-block">
    <div class="span6 well">
        <h1>User profile</h1>
        <table class="table table-condensed table-hover table-bordered">
            <tr>
                <td class="ph">Name</td>
                <td>@Model.FirstName @Model.MiddleName @Model.LastName</td>
            </tr>
            <tr>
                <td class="ph">Location</td>
                <td>
                    @Model.Country
                    @if (Model.City != null && Model.City.Trim().Length > 0)
                    {
                        <span>@Model.City</span>
                    }
                </td>
            </tr>
            <tr>
                <td class="ph">Company name</td>
                <td>@Model.CompanyName</td>
            </tr>
            <tr>
                <td class="ph">Position, academic degree</td>
                <td>
                    @Model.Position
                    @if (Model.AcademicDegree != null && Model.AcademicDegree.Trim().Length > 0)
                    {
                        <span>@Model.AcademicDegree</span>
                    }
                </td>
            </tr>
            <tr>
                <td class="ph">Contacts</td>
                <td>
                    <span><i class="icon icon-envelope"></i><a href="mailto:@Model.Email">@Model.Email</a></span>
                    @if (Model.WorkEmail != null && Model.WorkEmail.Trim().Length > 0)
                    {
                        <br />
                        <span><i class="icon icon-envelope"></i><a href="mailto:@Model.WorkEmail">@Model.WorkEmail</a></span>
                    }
                    @if (Model.CellPhone != null && Model.CellPhone.Trim().Length > 0)
                    {
                        <br />
                        <span><i class="icon icon-phone"></i>@Model.CellPhone</span>
                    }
                    @if (Model.WorkPhone != null && Model.WorkPhone.Trim().Length > 0)
                    {
                        <br />
                        <span><i class="icon icon-phone"></i>@Model.WorkPhone</span>
                    }
                </td>
            </tr>
            <tr>
                <td class="ph">Information</td>
                <td>@Model.Info</td>
            </tr>
            <tr>
                <td class="ph">Roles</td>
                <td>@Model.FormattedRoles()</td>
            </tr>
            <tr>
                <td class="ph">Registration date</td>
                <td>@Model.CreateDate.ToString("MMMM dd, yyyy")</td>
            </tr>
        </table>

        @if (ViewBag.IsOwner)
        {
            <a class="btn btn-info" href="@Url.Action("EditProfile", "Account")">Edit profile</a>
            <a class="btn btn-info" href="@Url.Action("ChangePassword", "Account")">Change password</a>
        }

@* <section id="externalLogins">
            @Html.Action("RemoveExternalLogins")

            <h3>Add an external login</h3>
            @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
        </section>
*@
    </div>
    <div class="span6 well">
        <h2>Offwind Global Expert Meeting 2013</h2>
        <p><a href="@Url.Action("Apply", "GlobalMeeting")" class="btn btn-primary btn-large">Apply for OGEM 2013</a></p>
        @if (ViewBag.IsOwner)
        {
            <h2>Cases</h2>
            <table class="table table-condensed table-hover table-bordered">
                <tr>
                    <th>Created</th>
                    <th>Name</th>
                </tr>
                @foreach (var c in Model.Cases)
                {
                    <tr>
                        <td>@c.Created</td>
                        <td><a href="#">@c.Name</a></td>
                    </tr>
                }
            </table>
        }
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
