@using Offwind.WebApp.Infrastructure
@model Offwind.WebApp.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<div class="row-fluid row-content-block">
    <div class="span6 well">
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.BootstrapValidationSummary()

        <fieldset>
            <legend>Required fields</legend>
            @Html.EditorFor(m => m.UserName)
            @Html.EditorFor(m => m.Password)
            @Html.EditorFor(m => m.ConfirmPassword)
        </fieldset>

        <fieldset>
            <legend>Optional fields</legend>
            @Html.EditorFor(m => m.CompanyName)
            @Html.EditorFor(m => m.OtherInfo)
        </fieldset>

        <input type="submit" class="btn btn-primary btn-large" value="Register" />
    }
    </div>
    <div class="span6 well">
        <h1>Registration at Offwind</h1>

        <h2>Why would you register?</h2>
        <p>By registering you will get an access to tools and additional materials.
        Offwind can also inform you about interesting events and features if you subscribe for it.</p>

        <h2>Is it easy?</h2>
        <p>The registration process is very simple. After you enter
            email and password (and probably additional information about you and your company) you will be notified by email for confirmation.</p>
            
        <h2>Optional info</h2>
        <p>We are asking to provide some more information about you and your company. This will help
        us to make our tools better suit your needs.</p>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
