@model Offwind.WebApp.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<style>
    fieldset .control-group
    {
        margin-left: 1em;
    }
</style>
<div class="row-fluid row-content-block">
    <div class="span6 well">
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <fieldset>
            <legend>Required fields</legend>
            @Html.EditorFor(m => m.UserName)
            @Html.EditorFor(m => m.Password)
            @Html.EditorFor(m => m.ConfirmPassword)
        </fieldset>

        <fieldset>
            <legend>Optional fields</legend>
            @Html.EditorFor(m => m.CompanyName)
            @Html.EditorFor(m => m.OtherInfo)
        </fieldset>

        <input type="submit" class="btn btn-primary btn-large" value="Register" />
    }
    </div>
    <div class="span6 well">
        <h1>Registration at Offwind</h1>
        <h2>Why would you register?</h2>
        <p>asdfasdf asdf asdf</p>
        <h2>Is it safe?</h2>
        <p>asdf asdf asdf asd</p>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
