@using Offwind.WebApp.Infrastructure
@model Offwind.WebApp.Models.RestoreForgottenPassword
<div class="row-fluid row-content-block">
    <div class="span6 well">
        @using (Html.BeginForm("RestoreForgottenPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.BootstrapValidationSummary()

            @Html.EditorFor(m => m.Token)
            @Html.EditorFor(m => m.NewPassword)
            @Html.EditorFor(m => m.NewPasswordConfirm)
            <input type="submit" class="btn btn-primary btn-large" value="Reset password" />
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
