@model Boolean
@{
    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix;
    var displayName = ViewData.ModelMetadata.DisplayName ?? ViewData.TemplateInfo.HtmlFieldPrefix;
}
<div class="control-group" id="@("EditorFor_" + fieldName)">
    <label class="control-label" for="@fieldName">@displayName <i class="icon-question-sign"></i></label>
    <div class="controls">
        <input type="checkbox" class="" id="@fieldName" name="@fieldName" value="@Model"/>
    </div>
</div>