@model Int32
@{
    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix;
    var displayName = ViewData.ModelMetadata.DisplayName ?? ViewData.TemplateInfo.HtmlFieldPrefix;
}
<div class="control-group" id="@("EditorFor_" + fieldName)">
    <label class="control-label" for="@fieldName">@displayName <i class="icon-question-sign"></i></label>
    <div class="controls">
        <input type="text" class="inputmask integer" id="@fieldName" name="@fieldName" placeholder="0" value="@Model" autocomplete="off" />
    </div>
</div>