@model object
@{
    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix;
    var displayName = ViewData.ModelMetadata.DisplayName ?? ViewData.TemplateInfo.HtmlFieldPrefix;
}
<div class="control-group" id="@("EditorFor_" + fieldName)">
    <label class="control-label" for="@fieldName">@displayName <i class="icon-question-sign"></i></label>
@if (Model is Enum)
{
    var enumType = Model.GetType();
    Output.Write("<div class=\"controls\">");
    if (ViewData.ModelMetadata.IsReadOnly)
    {
        Output.Write("<select disabled=\"\" id=\"{0}\">", fieldName);
    }
    else
    {
        Output.Write("<select>");
    }
    foreach (var t in Enum.GetNames(enumType))
    {
        if (t == Model.ToString())
        {
            <option value="@t" selected="@t">@t</option>
        }
        else
        {
            <option value="@t">@t</option>
        }
    }
    Output.Write("</select>");
    Output.Write("</div>");
}
else
{
    <div class="controls">
        <input type="text" class="" id="@fieldName" name="@fieldName" placeholder="0.0" value="@Model"/>
    </div>
}
</div>
