@using Offwind.WebApp.Infrastructure
@{
    var activeFlag = "class=\"active\"";
    
}
<div class="well well-small">
    <ul class="nav nav-list">
        <li class="nav-header">Meso Wind</li>
        <li @this.ActiveIfCurrent("Database", "MesoWind", "EngineeringTools")>
            <a href="@Url.Action("Database", "MesoWind", new { area = "EngineeringTools" })">
                <i class="icon-globe"></i> Database
            </a>
        </li>
        @*
        <li @this.ActiveIfCurrent("CurrentData", "MesoWind", "EngineeringTools")>
            <a href="@Url.Action("CurrentData", "MesoWind", new { area = "EngineeringTools" })">
                <i class="icon-table"></i> Current Data
            </a>
        </li>
        <li @this.ActiveIfCurrent("VelocityFreq", "MesoWind", "EngineeringTools")>
            <a href="@Url.Action("VelocityFreq", "MesoWind", new { area = "EngineeringTools" })">
                <i class="icon-bar-chart"></i> Velocity Freq.
            </a>
        </li>
        <li @this.ActiveIfCurrent("WindRose", "MesoWind", "EngineeringTools")>
            <a href="@Url.Action("WindRose", "MesoWind", new { area = "EngineeringTools" })">
                <i class="icon-asterisk"></i> Wind Roses
            </a>
        </li>
        *@
        <li class="nav-header">Wake Simulation</li>
        <li @this.ActiveIfCurrent("GeneralProperties", "WakeSimulation", "EngineeringTools")>
            <a href="@Url.Action("GeneralProperties", "WakeSimulation", new { area = "EngineeringTools" })">
                <i class="icon-cog"></i> General Properties
            </a>
        </li>
        <li @this.ActiveIfCurrent("TurbineCoordinates", "WakeSimulation", "EngineeringTools")>
            <a href="@Url.Action("TurbineCoordinates", "WakeSimulation", new { area = "EngineeringTools" })">
                <i class="icon-cog"></i> Turbine Coordinates
            </a>
        </li>
        <li @this.ActiveIfCurrent("Simulation", "WakeSimulation", "EngineeringTools")>
            <a href="@Url.Action("Simulation", "WakeSimulation", new { area = "EngineeringTools" })">
                <i class="icon-play-circle"></i> Simulation
            </a>
        </li>
        <li @this.ActiveIfCurrent("PostProcessing", "WakeSimulation", "EngineeringTools")>
            <a href="@Url.Action("PostProcessing", "WakeSimulation", new { area = "EngineeringTools" })">
                <i class="icon-time"></i> Post-processing
            </a>
        </li>
        <li class="nav-header">Wind Wave Power</li>
        <li @this.ActiveIfCurrent("InputData", "WindWave", "EngineeringTools")>
            <a href="@Url.Action("InputData", "WindWave", new { area = "EngineeringTools" })">
                <i class="icon-bolt"></i> Input Data
            </a>
        </li>
        <li @this.ActiveIfCurrent("PowerOutput", "WindWave", "EngineeringTools")>
            <a href="@Url.Action("PowerOutput", "WindWave", new { area = "EngineeringTools" })">
                <i class="icon-download"></i> Power Output
            </a>
        </li>
        <li @this.ActiveIfCurrent("PowerOutputAdvanced", "WindWave", "EngineeringTools")>
            <a href="@Url.Action("PowerOutputAdvanced", "WindWave", new { area = "EngineeringTools" })">
                <i class="icon-download"></i> Power Output Adv.
            </a>
        </li>
        <li class="nav-header">Farm Control</li>
        <li @this.ActiveIfCurrent("InputData", "WindFarm", "EngineeringTools")>
            <a href="@Url.Action("InputData", "WindFarm", new { area = "EngineeringTools" })">
                <i class="icon-cog"></i> Input Data
            </a>
        </li>
        <li @this.ActiveIfCurrent("Simulation", "WindFarm", "EngineeringTools")>
            <a href="@Url.Action("Simulation", "WindFarm", new { area = "EngineeringTools" })">
                <i class="icon-play-circle"></i> Simulation
            </a>
        </li>
    </ul>
</div>
