@section styles
{
    @Styles.Render("~/static/css/jquery.handsontable.full.css")
}
<div class="span3">
    @Html.Partial("__SideNav")
</div>
<div class="span9">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home", new { area = "" })"><i class="icon-home"></i></a> <span class="divider">/</span></li>
        <li><a href="@Url.Action("Index", "EngineeringTools", new { area = "EngineeringTools" })">Engineering Tools</a> <span class="divider">/</span></li>
        <li>Wind Wave<span class="divider">/</span></li>
        <li>Power Output</li>
    </ul>
    <div id="example1"></div>
</div>
@section scripts
{
    @Scripts.Render("~/static/js/jquery.handsontable.full.js")
    <script language="javascript">
        $(document).ready(function () {
            var renderer = function (instance, td, prop) {
                Handsontable.TextCell.renderer.apply(this, arguments);
                $(td).css({ textAlign: "right" });
                return td;
            };
            var isInitialized = false;
            var $container = $("#example1");

            $container.handsontable({
                startRows: 5,
                startCols: 4,
                columns: [
                    { type: { renderer: renderer}, readOnly: true },
                    { type: { renderer: renderer}, readOnly: true },
                    { type: { renderer: renderer}, readOnly: true },
                    { type: { renderer: renderer}, readOnly: true }],
                colHeaders: [
                    "<b>Method</b>",
                    "<b>Velocity (m/s)</b>",
                    "<b>Power Output (MW)</b>",
                    "<b>Diff. (%)</b>"],
                rowHeaders: true,
                minSpareRows: 0
            });

            $.ajax({
                url: "@Url.Action("PowerOutputData", "WindWave", new { area = "EngineeringTools" })",
                dataType: 'json',
                type: 'GET',
                success: function (res) {
                    $container.data('handsontable').loadData(res);
                    isInitialized = true;
                }
            });
        });        
    </script>
    
}