@model Offwind.WebApp.Models.VWebPage
@{
    ViewBag.Title = Model.BrowserTitle;
}

<div class="row-fluid">
    <div class="span8">
        <div id="myCarousel" class="carousel slide">
                @*<ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                </ol>*@
                <div class="carousel-inner">
                <div class="active item">
                    <img src="/static/img/meeting.jpg" alt="" />
                    <div class="carousel-caption">
                        <h2><a href="@Url.Action("Index", "GlobalMeeting")">Offwind Global Expert Meeting</a></h2>
                        <p>Climatology database, CFD wake modelling, development of a wave/wake model, and other avenues of research such as wind turbine control and now-casting.
                           Join us to contribute your own models and procedures, in order to advance knowledge in this area.
                        </p>
                    </div>
                </div>
                @*<div class="item">
                    <img src="/static/img/Depositphotos_11951183_m_3.jpg" alt="" />
                    <div class="carousel-caption">
                        <h2><a class="" href="@Url.Action("Index", "About", new { area = "" })">What is Offwind?</a></h2>
                        <p>Offwind - is a set of prediction tools for offshore wind energy generation. It
                            is being actively developed by Offwind group which consists of several partners from
                            different countries in Europe.
                        </p>
                        
                    </div>
                </div>*@
            </div>
            @*<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>*@
        </div>
    </div>
    <div class="span4 well sub-block-fixed main-right">
        <h2>Welcome to Offwind!</h2>
        <p><strong>Offwind</strong> - is a set of prediction tools for offshore wind energy generation. It
            is being developed by Offwind group which consists of several partners from
            different countries in Europe.</p>
        <p>It is a research project and funded by NER (Nordic Energy research), VattenFall (Research and Development) and Own Financing</p>
        <a href="@Url.Action("Register", "Account")" class="btn btn-success btn-large btn-block">Register</a>
    </div>
</div>
<div class="row-fluid row-content-block">
    <div class="span4 well sub-block-fixed">
        <h2>Engineering Tools</h2>
        <p>Run a number of tools which will help you to make quick calculations and estimations.
         <i class="tip-right icon-info-sign" data-toggle="tooltip" title="A registration is required"></i>
        </p>
        <a class="btn btn-info btn " href="@Url.Action("Index", "EngineeringTools", new { area = "EngineeringTools" })">Go to Engineering Tools &raquo;</a>
    </div>
    <div class="span4 well sub-block-fixed">
        <h2>Advanced Tools</h2>
        <p>
            Utilize a power of CFD simulations based on OpenFOAM standard solvers. The simulations are being
            run at Offwind's backend servers.
             <i class="tip-right icon-info-sign" data-toggle="tooltip" title="A registration is required"></i>
        </p>
        <a class="btn btn-info btn" href="@Url.Action("Index", "CFD", new { area = "CFD" })">Go to Advanced Tools &raquo;</a>
    </div>
    <div class="span4 well sub-block-fixed">
        <h2>Wind Farms & Turbines</h2>
        <p>
            Here you will find some predefined models for popular windfarms and turbines. They can be used in your own cases.
             <i class="tip-right icon-info-sign" data-toggle="tooltip" title="A registration is required"></i>
        </p>
        <a class="btn btn-info btn" href="@Url.Action("Index", "HomeWindFarms", new { area = "WindFarms" })">Go to Wind Farms & Turbines &raquo;</a>
    </div>
</div>
<div class="row-fluid row-content-block">
    <div class="span4 well sub-block-fixed">
        <h2>Partners area</h2>
        <p>A dedicated section for Offwind partners. Schedule, meetings, events and non-public materials.</p>
        <a class="" href="@Url.Action("Index", "HomePartners", new { area = "Partners" })">Go to Partners area &raquo;</a>
    </div>
    <div class="span4 well sub-block-fixed">
        <h2>Library</h2>
        <p>Here we collect different materials, articles, publications and manuals that can be interesting and helpful.</p>
        <a class="" href="@Url.Action("Index", "HomeLibrary", new { area = "Library" })">Go to Library &raquo;</a>
    </div>
    <div class="span4 well sub-block-fixed">
        <h2>Contact us</h2>
        <p>Jafar Mahmoudi, PhD<br/>
            Chief Scientist at IRIS, Professor II at UiS<br/>
            Office: (+47) 518 750 92<br/>
            Mobile: (+47) 970 783 39<br/>
            Email: jafar.mahmoudi@iris.no<br/>
        </p>
    </div>
</div>
@Html.Partial("__LatestPosts")