@model Offwind.WebApp.Areas.CFD.Models.SystemControls.VFvSolution

@section styles
{
    @Styles.Render("~/static/css/jquery.handsontable.full.css")
}

@section scripts
{
    @Scripts.Render("~/static/js/jquery.handsontable.full.js")
    @Scripts.Render("~/static/js/handsontable.tools.js")

    <script language="javascript">

        var linearSolver = ["PCG",
                            "PBiCG",
                            "smoothSolver",
                            "GAMG",
                            "diagonal"];
        
        var preconditioner = ["none",
                                "DIC",
                                "FDIC",
                                "DILU",
                                "diagonal",
                                "GAMG"];
        var slnTemplate = [["name", linearSolver[0], preconditioner[0], 0, 0]];

        $(document).ready(function() {                
            var $container = $("#solvers");
            var isInitialized = false;

            var changed = function(change, source) {
                if (!isInitialized) return;
                var d = $container.data('handsontable').getData();                

                $.ajax({
                    url: "@Url.Action("VFvSolutionSolverSave", "SystemControls", new { area = "CFD" })",
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(d)
                });
            };
            $container.handsontable({
                startRows: 1,
                startCols: 5,
                columns: [
                    { type: { renderer: td_renderer } },
                    { type: Handsontable.AutocompleteCell, source: linearSolver, editor: Handsontable.AutocompleteEditor, strict: true },
                    { type: Handsontable.AutocompleteCell, source: preconditioner, editor: Handsontable.AutocompleteEditor, strict: true },
                    { type: { renderer: td_renderer } },
                    { type: { renderer: td_renderer } }],
                colHeaders: [
                    "<b>Name</b>",
                    "<b>Solver</b>",
                    "<b>Preconditioner</b>",
                    "<b>Tolerance</b>",
                    "<b>RelTol</b>"
                ],
                rowHeaders: true,
                minSpareRows: 1,
                contextMenu: true,
                onBeforeChange: function (value) {
                    return td_before_change(value, $container, slnTemplate[0]);
                },                                
                onChange: changed
            });
            $.ajax({
                url: "@Url.Action("VFvSolutionSolverData", "SystemControls", new {area = "CFD"})",
                dataType: 'json',
                type: 'GET',
                success: function(res) {
                    $container.data('handsontable').loadData(res);
                    isInitialized = true;
                }
            });
        });
    </script>
}
           
<form class="form-horizontal" method="post">     
    <fieldset id = "solvers">
        <legend><b>Solvers</b></legend><br/>        
    </fieldset><br/>

    <fieldset>
        <legend><b>@Model.Solution.Name</b></legend>
        @Html.EditorFor(m => m.Solution.nCorrectors)
        @Html.EditorFor(m => m.Solution.nNonOrthogonalCorrectors)
        @Html.EditorFor(m => m.Solution.pRefCell)
        @Html.EditorFor(m => m.Solution.pRefValue)
    </fieldset>
    
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn">Cancel</button>
    </div>
</form>
