@model Offwind.WebApp.Areas.CFD.Models.SystemControls.VControlDict
<form class="form-horizontal" method="post">
    <fieldset>

        @Html.EditorFor(m => m.Libs)
        @*@Html.EditorFor(m => m.Application)*@
        @Html.EditorFor(m => m.StartFrom)
        @*@Html.EditorFor(m => m.StartTime)*@
        @Html.EditorFor(m => m.StopAt)
        @*@Html.EditorFor(m => m.EndTime)*@
        @Html.EditorFor(m => m.DeltaT)
        @Html.EditorFor(m => m.WriteControl)
        @Html.EditorFor(m => m.WriteInterval)
        @Html.EditorFor(m => m.PurgeWrite)
        @Html.EditorFor(m => m.WriteFormat)
        @Html.EditorFor(m => m.WritePrecision)
        @Html.EditorFor(m => m.WriteCompression)
        @Html.EditorFor(m => m.TimeFormat)
        @Html.EditorFor(m => m.TimePrecision)
        @Html.EditorFor(m => m.IsRunTimeModifiable)
        @Html.EditorFor(m => m.AdjustTimeStep)
        @Html.EditorFor(m => m.MaxCo)
        @Html.EditorFor(m => m.MaxDeltaT)

    </fieldset>
</form>