@using Offwind.WebApp.Areas.EngineeringTools.Models.MesoWind
@model DbSettings

<form class="form-horizontal indent" method="post">
    <div class="span12">
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home", new { area = "" })"><i class="icon-home"></i></a> <span class="divider">/</span></li>
            <li><a href="@Url.Action("Index", "EngineeringTools", new { area = "EngineeringTools" })">Engineering Tools</a> <span class="divider">/</span></li>
            <li>Meso Wind <span class="divider">/</span></li>
            <li>Database</li>
        </ul>
        <div class="well well-small" style="background-color: white;">
            <div class="row-fluid">
                <div class="span11" style="margin-bottom: 1em;">
                    @Html.EditorFor(m => m.showAll)
                    @Html.EditorFor(m => m.startLng)
                    @Html.EditorFor(m => m.startLat)
                    @Html.EditorFor(m => m.distance)
                    @Html.EditorFor(m => m.type)
                    <div style="text-align: center">
                        <button type="submit" class="btn btn-primary">Apply settings</button>
                    </div>
                </div>
                <div class="span11">
                    <table id="database" class="table table-condensed table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Lat. (&#176;)
                                </th>
                                <th>
                                    Lng. (&#176;)
                                </th>
                                <th>File</th>
                            </tr>
                        </thead>
                    </table>
                    <div style="text-align: center">
                        <a class="btn" href="#" id="button-import-selected">Import Selected</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts
{
}
