@using Offwind.WebApp.Areas.EngineeringTools.Models.MesoWind
@model DbSettings

<style>
    #map_container
    {
        padding: 4px;
    }
    .modal-body p
    {
        margin-left: 12px;
    }
    
    .modal.meso-body
    {
        left: 40%;
        width: 980px;
    }
    
    .modal-body.meso-body
    {
        margin-left: 2px;
        width: 920px;
        max-height: 540px;
    }
    
    .modal-footer.meso-body
    {
        top: auto;
    }
    
    .cluster_sample
    {
        background-image: url("/static/img/m3.png");
        background-position: 0px 0px;
        height: 66px;
        line-height: 66px;
        width: 66px;
        text-align: center;
        cursor: pointer;
        color: black;
        font-size: 11px;
        font-family: Arial,sans-serif;
        font-weight: bold;
        display: inline-block;
    }
    form
    {
        margin: 0;
    }
    #show_db_imported, #show_db_error
    {
        display: none;
        position: absolute;
        width: 80%;
        margin: auto;
        top: 15;
    }
    .marker-info
    {
        padding: 20px;
    }
    .marker-info table th, 
    .marker-info table td
    {
        padding: 8px;
        text-align: left;
        border: 1px solid #ccc;
    }
    .marker-info table td[colspan="2"]
    {
        text-align: center;
    }

</style>
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })"><i class="icon-home"></i></a> <span class="divider">/</span></li>
    <li><a href="@Url.Action("Index", "EngineeringTools", new { area = "EngineeringTools" })">Engineering Tools</a> <span class="divider">/</span></li>
    <li>Meso Wind <span class="divider">/</span></li>
    <li>Database</li>
</ul>

<div class="row-fluid">
    <div class="span9">
        <div class="well">
            <div class=" alert alert-error">
        Please, make sure you allow pop-up windows for this website. All points will open in a new window.
    </div>
            <div id="map_container">
                <div id="map_canvas" style="width: auto; height: 410px;"></div>
            </div>
        </div>
    </div>
    <div class="span3">
        @Html.Partial("__DatabaseActions")
    </div>
</div>

@Html.Partial("__DatabaseSearch")
@Html.Partial("__DatabaseData")
@Html.Partial("__DatabaseHelp")
@Html.Partial("__WaitScreen")
@Html.Partial("__MarkerInfo")

@section scripts
{
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../../../../static/js/markerclusterer.js"></script>
    @Scripts.Render("~/static/js/jquery.dataTables.Pagination.js")
    <script type="text/javascript" src="/Areas/EngineeringTools/Static/meso-wind-db.js?ver=@DateTime.UtcNow.Ticks"></script>

    <script type="text/javascript">
        UrlSetPoint = '@Url.Action("SetPoint", "MesoWind", new { area = "EngineeringTools" })';
        UrlPointPage = '@Url.Action("PointPage", "MesoWind")';
        UrlGetMapData = '@Url.Action("GetMapData", "MesoWind", new { area = "EngineeringTools" })';
        UrlDatabaseSwitch = '@Url.Action("DatabaseSwitch", "MesoWind", new { area = "EngineeringTools" })';
    </script>
}
