@using System.Web.Script.Serialization
@model Offwind.WebApp.Models.VWebPageSimpleObject<List<Offwind.WebApp.Areas.EngineeringTools.Models.MesoWind.HPoint>>
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })"><i class="icon-home"></i></a> <span class="divider">/</span></li>
    <li><a href="@Url.Action("Index", "EngineeringTools", new { area = "EngineeringTools" })">Engineering Tools</a> <span class="divider">/</span></li>
    <li>Meso Wind <span class="divider">/</span></li>
    <li>Velocity Freq.</li>
</ul>
<div class="row-fluid row-content-block">
    <div class="span12 well">
        <div id="chartdiv" style="width: 100%; height: 480px;"></div>
    </div>
</div>
@section scripts
{
    @*
    @Scripts.Render("~/static/js/amcharts.js")
    <script type="text/javascript">
        var chartData = @(Html.Raw(new JavaScriptSerializer().Serialize(Model)));
        AmCharts.ready(function () {
            // SERIAL CHART
            chart = new AmCharts.AmSerialChart();
            chart.dataProvider = chartData;
            chart.categoryField = "Dir";
            chart.startDuration = 1;
            chart.plotAreaBorderColor = "#DADADA";
            chart.plotAreaBorderAlpha = 1;
            // this single line makes the chart a bar chart          
            chart.rotate = false;

            // AXES
            // Category
            var categoryAxis = chart.categoryAxis;
            categoryAxis.gridPosition = "start";
            categoryAxis.gridAlpha = 0.1;
            categoryAxis.axisAlpha = 0;

            // Value
            var valueAxis = new AmCharts.ValueAxis();
            valueAxis.axisAlpha = 0;
            valueAxis.gridAlpha = 0.1;
            valueAxis.position = "top";
            chart.addValueAxis(valueAxis);

            // GRAPHS
            // first graph
            var graph1 = new AmCharts.AmGraph();
            graph1.type = "column";
            graph1.title = "Velocity Frequencies";
            graph1.valueField = "Frequency";
            graph1.balloonText = "Frequency:[[value]]";
            graph1.lineAlpha = 0;
            graph1.fillColors = "#ADD981";
            graph1.fillAlphas = 1;
            chart.addGraph(graph1);

            // LEGEND
            var legend = new AmCharts.AmLegend();
            chart.addLegend(legend);

            // WRITE
            chart.write("chartdiv");
        });
    </script>
   *@
   
    @Scripts.Render("~/static/js/highcharts.js")

    <script type="text/javascript">
        var chartData = @(Html.Raw(new JavaScriptSerializer().Serialize(Model.SimpleObject)));
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'chartdiv'
            },
            title: {
                text: ''
            },
            xAxis: {
                min: 0,
                title: {
                    text: 'Direction'
                }
            },
            yAxis: {
                title: {
                    text: 'Frequency'
                }
            },
            legend: {
                enabled: false
            }
        });
        chart.addSeries({
            name: "Frequency",
            visible: true,
            type: 'bar',
            marker: {
                enabled: false
            }
        });
        var graph = [];
        for (var i = 0; i < chartData.length; i++)
        {
            graph.push({ x: chartData[i].Dir, y: chartData[i].Frequency });
        }
        chart.series[0].setData(graph);
    </script>
}