@using System.Linq
@using System.Web.Script.Serialization
@model Offwind.WebApp.Areas.EngineeringTools.Models.MesoWind.VWindRose

<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })"><i class="icon-home"></i></a> <span class="divider">/</span></li>
    <li><a href="@Url.Action("Index", "EngineeringTools", new { area = "EngineeringTools" })">Engineering Tools</a> <span class="divider">/</span></li>
    <li>Meso Wind <span class="divider">/</span></li>
    <li>Wind Rose</li>
</ul>
<div class="row-fluid">
    <div class="span6 well">
        <div id="frequencyByDir" style="width: 100%; height: 480px;"></div>
    </div>
    <div class="span6 well">
        <div id="meanVelocityByDir" style="width: 100%; height: 480px;"></div>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/static/js/amcharts.js")
    <script type="text/javascript">
    @{
        var freqByDirs = Model.FreqByDirs.Select(x => new { direction = x.Dir, value = x.Frequency });
        var meanVelocityByDir = Model.MeanVelocityPerDir.Select(x => new { direction = x.Dir, value = x.Velocity });
    }
        var freqByDir = @(Html.Raw(new JavaScriptSerializer().Serialize(freqByDirs)));
        var meanVelocityByDir = @(Html.Raw(new JavaScriptSerializer().Serialize(meanVelocityByDir)));
        var plotChart = function(data, target, title, unit) {
            var chart;

            // RADAR CHART
            chart = new AmCharts.AmRadarChart();
            chart.dataProvider = data;
            chart.categoryField = "direction";
            chart.startDuration = 1;

            // TITLE
            chart.addTitle(title, 15);

            // VALUE AXIS
            var valueAxis = new AmCharts.ValueAxis();
            valueAxis.gridType = "circles";
            valueAxis.fillAlpha = 0.05;
            valueAxis.fillColor = "#000000";
            valueAxis.axisAlpha = 0.2;
            valueAxis.gridAlpha = 0;
            valueAxis.fontWeight = "bold";
            valueAxis.minimum = 0;
            chart.addValueAxis(valueAxis);

            // GRAPH
            var graph = new AmCharts.AmGraph();
            graph.lineColor = "#FFCC00";
            graph.fillAlphas = 0.4;
            graph.bullet = "round";
            graph.valueField = "value";
            graph.balloonText = "[[value]] " + unit;
            chart.addGraph(graph);

            // WRITE                
            chart.write(target);
        };

        AmCharts.ready(function() {
            plotChart(freqByDir, "frequencyByDir", "Frequency by direction", "%");
            plotChart(meanVelocityByDir, "meanVelocityByDir", "Mean velocity by direction", "m/s");
        });
    </script>
}
