@model Offwind.WebApp.Areas.WindFarms.Models.VTurbine

@{
    ViewBag.Title = "Turbine Details | Wind Farms & Turbines Database | Offwind";
}

<style>
</style>

<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })"><i class="icon-home"></i></a> <span class="divider">/</span></li>
    <li><a href="@Url.Action("Index", "HomeWindFarms", new { area = "WindFarms" })">Wind Farms & Turbines Database</a> <span class="divider">/</span></li>
    <li><a href="@Url.Action("turbines", "HomeWindFarms", new { area = "WindFarms" })">Turbines</a> <span class="divider">/</span></li>
    <li class="active">Turbine Details</li>
</ul>
<div class="row-fluid row-content-block">
    <div class="span12 well actionable-page">
        <h1>@Model.Name</h1>
        <div class="actions-block">
            <a href="@Url.Action("Edit", "Turbine", new { area = "WindFarms", id = Model.Id })" class="btn btn-primary">Edit</a>
            <a href="@Url.Action("Delete", "Turbine", new { area = "WindFarms", id = Model.Id })" class="btn btn-danger">Delete</a>
        </div>
        <h2>Properties</h2>
        <p>
            <table class="table table-bordered model-view">
                <tr>
                    <td>Manufacturer</td>
                    <td>@Model.Manufacturer</td>
                </tr>
                <tr>
                    <td>Rated power (MW)</td>
                    <td>@Model.RatedPower</td>
                </tr>
            </table>
        </p>

        <h3>Description</h3>
        @if (Model.Description == null || Model.Description.Trim().Length <= 0)
        {
            <div class="alert">
                No description specified
            </div>
        }
        else
        {
            @Html.Raw(Model.Description)
        }
        
        <h3>Whole</h3>
        @Html.DisplayForModel()
    </div>

</div>


@section scripts
{
}
