@model Offwind.WebApp.Areas.WindFarms.Models.VTurbine

@{
    ViewBag.Title = "Turbine Details | Wind Farms & Turbines Database | Offwind";
}

<style>
</style>

<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })"><i class="icon-home"></i></a> <span class="divider">/</span></li>
    <li><a href="@Url.Action("Index", "HomeWindFarms", new { area = "WindFarms" })">Wind Farms & Turbines Database</a> <span class="divider">/</span></li>
    <li><a href="@Url.Action("List", "Turbine", new { area = "WindFarms" })">Turbines</a> <span class="divider">/</span></li>
    <li class="active">Turbine Details</li>
</ul>
<div class="row-fluid row-content-block">
    <div class="span12 well actionable-page">
        <h1>Turbine Details</h1>
        @Html.Partial("__DetailsActions")
        <h3>Properties</h3>
        <p>
            <table class="table table-bordered model-view">

                @Html.DisplayFor(m => m.Name)
                @Html.DisplayFor(m => m.RatedPower)
                @Html.DisplayFor(m => m.RotorDiameter)
                @Html.DisplayFor(m => m.Manufacturer)

            </table>
        </p>

        <h3>Description</h3>
        @if (Model.Description == null || Model.Description.Trim().Length <= 0)
        {
            <div class="alert">
                No description specified
            </div>
        }
        else
        {
            @Html.Raw(Model.Description)
        }
        
    </div>

</div>


@section scripts
{
}
