@using Offwind.WebApp.Areas.ControlPanel.Tools
@model Offwind.WebApp.Areas.ControlPanel.Models.ContentModel

<h2>Content editor</h2>

<form class="form-horizontal indent" method="post">
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ContentType)
        @Html.EditorFor(model => model.Name)
        @Html.EditorFor(model => model.NTitle)
        @Html.EditorFor(model => model.BrowserTitle)
        @Html.EditorFor(model => model.Announce)
        @Html.EditorFor(model => model.DisplayDateTime)
        @Html.EditorFor(model => model.Route)
        @Html.EditorFor(model => model.Content, "RtfEditor")

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn" href="@Url.Action("Index", new { type = Model.ContentType.S() })">Back to list</a>
        </div>
    </fieldset>
</form>
<div>
    
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="/static/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/static/ckfinder/ckfinder.js"></script>
    <script type="text/javascript">
        var editor = CKEDITOR.replace('Content', {
            filebrowserBrowseUrl: '/static/ckfinder/ckfinder.html',
            filebrowserImageBrowseUrl: '/static/ckfinder/ckfinder.html?Type=Images',
            filebrowserFlashBrowseUrl: '/static/ckfinder/ckfinder.html?Type=Flash',
            filebrowserUploadUrl: '/static/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Files',
            filebrowserImageUploadUrl: '/static/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Images',
            filebrowserFlashUploadUrl: '/static/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Flash'
});
        //editor.setData('<p>Just click the <b>Image</b> or <b>Link</b> button, and then <b>&quot;Browse Server&quot;</b>.</p>');

        // Just call CKFinder.setupCKEditor and pass the CKEditor instance as the first argument.
        // The second parameter (optional), is the path for the CKFinder installation (default = "/ckfinder/").
        //CKFinder.setupCKEditor(editor, 'http://ck.megasushi-spb.ru/editor/');

    </script>
}
