@using Offwind.WebApp.Models
@model List<DContent>

<h1>@ViewBag.HTitle</h1>

<p>
    <a href="@Url.Action("Edit", new { type = ViewBag.ContentType })" class="btn btn-primary">Add new</a>
</p>
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>
            Title
        </th>
        <th>
            Date & time<br/>(UTC)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <p><b>@item.Name</b></p>
            <p class="">~/@Html.DisplayFor(modelItem => item.Route)</p>
            <p class="">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id, type = ViewBag.ContentType }) |
                @Html.ActionLink("Show", "Show", new { id = item.Id, type = ViewBag.ContentType }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id, type = ViewBag.ContentType })
            </p>
        </td>
        <td>
            @{ var dt = item.DisplayDateTime.ToShortDateString(); }
            @dt
        </td>
    </tr>
}

</table>
