@model Offwind.WebApp.Areas.CFD.Models.BoundaryConditions.VFieldR
<form class="form-horizontal indent" method="post">
      <legend class="small">General</legend>
    @Html.EditorFor(m => m.InternalField, "FieldVectorValue2")
        
    <legend class="small">Bottom</legend>
    @Html.EditorFor(m => m.BottomType)

    <legend class="small">Top</legend>
    @Html.EditorFor(m => m.TopType)
        
    <legend class="small">West</legend>
    @Html.EditorFor(m => m.WestType)
    @Html.EditorFor(m => m.WestValue, "FieldVectorValue2")

    <legend class="small">East</legend>
    @Html.EditorFor(m => m.EastType)

    <legend class="small">North</legend>
    @Html.EditorFor(m => m.NorthType)

    <legend class="small">South</legend>
    @Html.EditorFor(m => m.SouthType)
    @Html.EditorFor(m => m.SouthValue, "FieldVectorValue2")

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn">Cancel</button>
    </div>

</form>
