@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles
{
    <link rel="stylesheet" type="text/css" href="~/static/bootstrap-3.1.1/css/bootstrap.css"/>
    <link href="~/static/mooeditable/Assets/MooEditable/MooEditable.css" rel="stylesheet" />

    <style>
        .sidebar-nav .nav-list > li > a  {
            padding-left: 2em;
        }

        .well {
            -moz-box-shadow: 1px 1px 0px #ffffff;
            -webkit-box-shadow: 1px 1px 0px #ffffff;
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: 1px 1px 0px #ffffff;
        }

        h1 {
            color: #3A87AD;
            font-size: 24.5px;
            margin: 0;
            margin-bottom: 15px;
            font-weight: bold;
        }
        h1 + .alert {
            margin-top:-7px
        }
        .alert {
            padding: 8px 35px 8px 14px
        }

        .list-group {
            margin-left: 0px;
            margin-bottom: 0px;
        }

        .act {
            margin-left: 1em;
            float: right !important;
        }
        .act:hover {
            color: #888888;
        }
        span {
            display: none;
        }

        a:hover > span {
            display: inline;
        }
        .row{margin-right: 0;}

        input[type="text"] {
            height: inherit;
        }
        textarea {
            width:100%
        }
        form,.form-actions {
            margin-bottom: 0px;
        }
    </style>
     @RenderSection("Styles", false)
}

<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })"><i class="icon-home"></i></a></li>
    <li><a href="@Url.Action("Home", "Management", new { area = "Management" })">Management</a> </li>
    @if (ViewBag.BreadcrumbsItems != null && ViewBag.BreadcrumbsLinks != null)
    {
        var items = ((string) ViewBag.BreadcrumbsItems).Split('*');
        var links = ((string) ViewBag.BreadcrumbsLinks).Split('*');
        for (var index = 0; index < items.Length; index++)
        {
            if (index == items.Length-1 || index >= links.Length-1)
            {
                <li class="active">@items[index]</li>
            }
            else
            {
                <li><a href="@links[index]">@items[index]</a></li>
            }
        }
    }
    
</ul>
<div class="row">
    <div class="col-md-3">
        @Html.Partial("__SideBar")
     </div>

    <div class="col-md-9 well">
        @RenderBody()
    </div>
</div>


@section scripts
{
    <script src="~/static/mooeditable/mootools.js"></script>
    <script src="~/static/mooeditable/Source/MooEditable/MooEditable.js"></script>
    @RenderSection("Scripts", false)
    @RenderSection("SpecificScripts", false)
}
