@model Offwind.WebApp.Areas.WindFarms.Models.VWindFarmsHome

@{
    ViewBag.Title = "Wind Farms & Turbines Database | Offwind";
}

<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })"><i class="icon-home"></i></a> <span class="divider">/</span></li>
    <li class="active">Wind Farms & Turbines Database</li>
</ul>
<div class="row-fluid row-content-block">
    <div class="span12 well">
        <h1>Wind Farms & Turbines Database</h1>
        <p>This is a database of the offshore wind farms that are used in our tools - Engineering and Advanced. This database has following main features:</p>
        <ul>
            <li>Wind farms and turbines database</li>
            <li>Public and user-private wind farms and turbines</li>
            <li>Wind farm layout editor <span class="badge badge-success">Coming soon!</span> </li>
        </ul>
        <h2>What the benefits?</h2>
        <p>Easy reuse. It's possible to create some predefined sets of your wind farms and turbines and use them in different cases.
            In some cases you might want to slightly change parameters without breaking other predefined sets - for that, you simply
            create your own modification.</p>
        <h2>Cooperation</h2>
        <p>Create, chage, propose your own wind farms and turbines for public usage.</p>

        <h2>Wind Farms</h2>
        <p>Total: @Model.TotalPublicWindFarms</p>
        <p>
            <a href="@Url.Action("List", "WindFarm", new { area = "WindFarms" })" class="btn btn-primary">Show all</a>
            <a href="@Url.Action("Edit", "WindFarm", new { area = "WindFarms" })" class="btn btn-primary">Add new</a>
        </p>

        <h2>Turbines</h2>
        <p>Total: @Model.TotalPublicTurbines</p>
        <p>
            <a href="@Url.Action("List", "Turbine", new { area = "WindFarms" })" class="btn btn-primary">Show all</a>
            <a href="@Url.Action("Edit", "Turbine", new { area = "WindFarms" })" class="btn btn-primary">Add new</a>
        </p>

    </div>

</div>

