@model Offwind.WebApp.Areas.WindFarms.Models.VWindFarmsHome

@{
    ViewBag.Title = "Wind Farms & Turbines Database | Offwind";
}

<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })"><i class="icon-home"></i></a> <span class="divider">/</span></li>
    <li><a href="@Url.Action("Index", "HomeWindFarms", new { area = "WindFarms" })">Wind Farms & Turbines Database</a> <span class="divider">/</span></li>
    <li class="active">Turbines</li>
</ul>
<div class="row-fluid row-content-block">
    <div class="span12 well">
        <h1>Turbines</h1>

        <p><a href="@Url.Action("Edit", "Turbine", new { area = "WindFarms" })" class="btn btn-primary">Add new</a></p>
        
        <table class="table table-condensed table-hover table-bordered">
            <tr>
                <th>Name</th>
                <th>Power<br/>(MW)</th>
                <th>Manufacturer</th>
                <th>Wind speed<br/>cut-in<br/>(m/s)</th>
                <th>Wind speed<br/>rated<br/>(m/s)</th>
                <th>Wind speed<br/>cut-out<br/>(m/s)</th>
                <th></th>
            </tr>
            @foreach (var turbine in Model.Turbines)
            {
                <tr>
                    <td>@turbine.Name</td>
                    <td>@turbine.RatedPower</td>
                    <td>@turbine.Manufacturer</td>
                    <td>@turbine.WindSpeedCutIn</td>
                    <td>@turbine.WindSpeedRated</td>
                    <td>@turbine.WindSpeedCutOut</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" href="#">
                                <span class="icon-cog"></span><span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Details", "Turbine", new { area = "WindFarms", id = turbine.Id })" class="">Details</a></li>
                                <li><a href="@Url.Action("Edit", "Turbine", new { area = "WindFarms", id = turbine.Id })" class="">Edit</a></li>
                                <li><a href="@Url.Action("Delete", "Turbine", new { area = "WindFarms", id = turbine.Id })" class="">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row-fluid row-content-block">
    <div class="span12 well">
        <div class="alert post-note">
            <p>Please, note that information in this database may not reflect real objects.</p>
            <p>These are just models that are adopted for usage with other Offwind tools.</p>
        </div>
    </div>
</div>
