@model Offwind.WebApp.Areas.CFD.Models.BoundaryConditions.VFieldScalarValue
@{
    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix;
    var displayName = ViewData.ModelMetadata.DisplayName ?? ViewData.TemplateInfo.HtmlFieldPrefix;
}
<div class="control-group" id="@("EditorFor_" + fieldName)">
    <label class="control-label" for="@fieldName">@displayName <i class="icon-question-sign"></i></label>
    <div class="controls">
        @*        <select class="span2" disabled="" id="@(fieldName + "." + "Type")">
            @{
                foreach (var name in Enum.GetNames(typeof(PatchValueType)))
                {
                    if (name == Model.Type.ToString())
                    {
                        Output.WriteLine("<option selected=\"{0}\"{0}</option>", name);
                    }
                    else
                    {
                        Output.WriteLine("<option>{0}</option>", name);
                    }
                }
            }
        </select>
*@
        <span>@Model.Type.ToString()</span>
        <input type="text" class="input-mini inputmask decimal" id="@(fieldName + "." + "Value")" name="@(fieldName + "." + "Value")" placeholder="0.0" value="@Model.Value" autocomplete="off" />
    </div>
</div>