@using Offwind.WebApp.Areas.ControlPanel.Models
@model Offwind.WebApp.Areas.Management.Models.VUserProfile

<h2>Add new account</h2>

<form class="form-horizontal indent" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <fieldset>
        @Html.EditorFor(m => m.Name)
        @Html.EditorFor(model => model.Roles)
        @Html.EditorFor(m => m.Password)
        @Html.EditorFor(m => m.ConfirmPassword)
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn" href="javascript: reset_view();">Cancel</a>
        </div>
    </fieldset>
</form>

@section scripts
{
    <script type="text/javascript">
        function reset_view() {
            window.location.href = "@Url.Action("Index", "Users")";  
        }
    </script>
}
