@using Offwind.WebApp.Areas.ControlPanel.Models
@using Offwind.WebApp.Models.Account
@model Offwind.WebApp.Areas.Management.Models.VUserProfile

<form class="form-horizontal indent" method="post" action="">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <fieldset>
        <legend>Change account for user: <h3 style="display: inline">@Model.Name</h3></legend>
        @Html.HiddenFor(m => m.Name)        
        @Html.HiddenFor(m => m.SelectedRoles)
        @Html.HiddenFor(m => m.OldPassword)
        
        @Html.EditorFor(m => m.Roles)

        @Html.EditorFor(m => m.Password)
        @Html.EditorFor(m => m.ConfirmPassword)


        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn" href = "javascript: delete_user(@Model.Id);">Delete</a>
            <a class="btn" href = "javascript: reset_view();">Back</a>
        </div>
    </fieldset>
</form>

@section scripts
{
    <script type="text/javascript">        
        function reset_view() {
            window.location.href = "@Url.Action("Index", "Users")";  
        }

        function delete_user(val) {
            var url = "@Url.Action("Delete", "Users")";
            $.ajax({
                url: url,
                data: {id: val},
                type: "POST",
                dataType: "json",
                success: reset_view()
            });
        }
    </script>
}
