@using Offwind.WebApp.Infrastructure
@model Offwind.WebApp.Models.Event.VEventApplication

@{
    ViewBag.Title = "Offwind Global Expert Meeting 2013 | Events | Offwind";
}
@section Styles
{
    <style>
        table tr td
        {
            padding: 8px;
        }
        table.contacts tr td:first-child
        {
            font-weight: bold;
        }
        table th, table td
        {
            vertical-align: text-top;
        }
  </style>   
}
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })"><i class="icon-home"></i></a><span class="divider">/</span></li>
    <li><a href="@Url.Action("Index", "Events", new { area = "" })">Events</a> <span class="divider">/</span></li>
    <li class="active">Offwind Global Expert Meeting 2013</li>
</ul>
<div class="row-fluid">
    <div class="span8 well">
        @Html.Partial("__EventDescription")
    </div>
    <div class="span4 well">
        <h2>Registration</h2>
        <p>In order to register for this event, please take the following steps:</p>
        <ul>
            <li>Go to <a href="@Url.Action("Register", "Account")">Registration</a> area and register your account</li>
            <li>After registration complete, on your <a href="@Url.Action("Profile", "Account")">profile</a> page you will see a big button <strong>Apply for OGEM 2013</strong> - just push it</li>
        </ul>
        <h2>Hotels reservation</h2>
        <p>Stavanger is a busy city so we highly recommend you to consider your accommodation as soon  as possible.</p>
        <p class="alert alert-success">More details about bookings you can find in PDF document:
            <br/>
             <a style="font-weight: bold" href="/files/Offwind_workshop_V3_Hotels.pdf" target="_blank">Hotels reservation</a> (PDF, 106kB)</p>
        <h2>See also</h2>
        <p><a href="/files/Offwind_workshop_V3_Final.pdf" target="_blank">Meeting Agenda</a> (PDF, 327kB)</p>
    </div>
</div>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}