@using Offwind.WebApp.Infrastructure
@model Offwind.WebApp.Models.Event.VEventApplication

@{
    ViewBag.Title = "Offwind Global Expert Meeting 2013 | Events | Offwind";
}
@section Styles
{
    <style>
        table tr td
        {
            padding: 8px;
        }
        table.contacts tr td:first-child
        {
            font-weight: bold;
        }
        table th, table td
        {
            vertical-align: text-top;
        }
  </style>   
}
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })"><i class="icon-home"></i></a><span class="divider">/</span></li>
    <li><a href="@Url.Action("Index", "Events", new { area = "" })">Events</a> <span class="divider">/</span></li>
    <li class="active">Offwind Global Expert Meeting 2013</li>
</ul>
<div class="row-fluid">
    <div class="span8 well">
        @Html.Partial("__EventDescription")
    </div>
    <div class="span4 well">
        <h2>Registration</h2>
        <p>In order to register for this event, please go to <a href="@Url.Action("Register", "Account")">Registration</a> area</p>
    </div>
</div>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}