@using Offwind.WebApp.Infrastructure
@model Offwind.WebApp.Models.Event.VEventApplication

@{
    ViewBag.Title = "Offwind Global Expert Meeting 2013 | Events | Offwind";
}
@section Styles
{
    <style>
        table tr td
        {
            padding: 8px;
        }
        table tr td:first-child
        {
            font-weight: bold;
        }
    </style>   
}
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })"><i class="icon-home"></i></a><span class="divider">/</span></li>
    <li><a href="@Url.Action("Index", "Events", new { area = "" })">Events</a> <span class="divider">/</span></li>
    <li class="active">Offwind Global Expert Meeting 2013</li>
</ul>
<div class="row-fluid">
    <div class="span6 well">
        @Html.Partial("__EventDescription")
    </div>
    <div class="span6 well">
        <h2>Registration</h2>
        <form id="form-registration" class="form " method="post" novalidate="">
            <label class="control-label" for="FullName">Your name</label>
            <div class="controls controls-row">
                @Html.TextBoxFor(m => m.FullName)
            </div>
            <label class="control-label" for="Email">Email</label>
            <div class="controls controls-row">
                @Html.TextBoxFor(m => m.Email, new { autocomplete = "off" })
            </div>
            <label class="control-label" for="Phone">Phone</label>
            <div class="controls controls-row">
                @Html.TextBoxFor(m => m.Phone, new { autocomplete = "off" })
            </div>
            <label class="control-label" for="Company">Company</label>
            <div class="controls controls-row">
                @Html.TextBoxFor(m => m.Company, new { autocomplete = "off" })
            </div>
            <label class="control-label" for="Comment">Comment</label>
            <div class="controls controls-row">
                @Html.TextAreaFor(m => m.Comment)
            </div>
            <button type="submit" class="btn btn-primary">Apply</button>
        </form>
    </div>
</div>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}