@model Offwind.WebApp.Areas.WindFarms.Models.VWindFarm

@{
    ViewBag.Title = "Wind Farm Delete | Wind Farms & Turbines Database | Offwind";
}

<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })"><i class="icon-home"></i></a> <span class="divider">/</span></li>
    <li><a href="@Url.Action("Index", "HomeWindFarms", new { area = "WindFarms" })">Wind Farms & Turbines Database</a> <span class="divider">/</span></li>
    <li><a href="@Url.Action("List", "WindFarm", new { area = "WindFarms" })">Wind Farms</a> <span class="divider">/</span></li>
    <li class="active">Wind Farm Deletion</li>
</ul>
<div class="row-fluid row-content-block">
    <div class="span12 well actionable-page">
        <h1>Wind Farm Deletion</h1>
        <h3>Are you sure you want to delete this?</h3>

        @using (Html.BeginForm())
        {
            <p>
                <input class="btn btn-primary" type="submit" value="Delete" />
                @if (Model.ReturnTo == "list")
                {
                    <a href="@Url.Action("List", "WindFarm", new { area = "WindFarms" })" class="btn">Cancel</a>
                }
                else
                {
                    <a href="@Url.Action("Details", "WindFarm", new { area = "WindFarms", id = Model.Id })" class="btn">Cancel</a>
                }
            </p>
        }
        <div class="row-fluid">
            <div class="span6">
                <h3>Properties</h3>
                <p>
                    <table class="table table-bordered general-params">
                        <tr>
                            <td>Name</td>
                            <td>@Model.Name</td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td>@Model.Country</td>
                        </tr>
                        <tr>
                            <td>Total capacity (MW)</td>
                            <td>@Model.TotalCapacity</td>
                        </tr>
                        <tr>
                            <td>Coordinates<br/>
                                <span class="indent">Latitude</span><br/>
                                <span class="indent">Longitude</span>
                            </td>
                            <td><br/>
                                @Model.GeoLat<br/>@Model.GeoLng
                            </td>
                        </tr>
                    </table>
                </p>
            </div>
        </div>

    </div>
</div>
