@using Offwind.WebApp.Infrastructure
@model Offwind.WebApp.Areas.WindFarms.Models.VWindFarm

@{
    ViewBag.Title = "Wind Farm Editor | Wind Farms & Turbines Database | Offwind";
}

<style>
    table.general-params tr td:first-child
    {
        font-weight: bold;
        width: 30%;
    }
</style>

<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })"><i class="icon-home"></i></a> <span class="divider">/</span></li>
    <li><a href="@Url.Action("Index", "HomeWindFarms", new { area = "WindFarms" })">Wind Farms & Turbines Database</a> <span class="divider">/</span></li>
    <li><a href="@Url.Action("wind-farms", "HomeWindFarms", new { area = "WindFarms" })">Wind Farms</a> <span class="divider">/</span></li>
    <li class="active">Wind Farm Details</li>
</ul>
<div class="row-fluid row-content-block">
    <div class="span6 well">
        <h1>@Model.Name</h1>
        <h3>General
            (<a href="@Url.Action("Edit", "WindFarm", new { area = "WindFarms", id = Model.Id })" class="">change</a>)
        </h3>
        <p>
            <table class="table table-bordered general-params">
                <tr>
                    <td>Country</td>
                    <td>@Model.Country</td>
                </tr>
                <tr>
                    <td>Total capacity (MW)</td>
                    <td>@Model.TotalCapacity</td>
                </tr>
                @if (Model.HasLinks())
                {
                    <tr>
                        <td>Links</td>
                        <td>
                            @if (Model.HasOfficialLink())
                            {
                                <a href="@Model.UrlOfficial.AnchorUrl()" rel="nofollow" target="_blank">Official site</a><br/>
                            }

                            @if (Model.HasWikiLink())
                            {
                                <a href="@Model.UrlPublicWiki.AnchorUrl()" rel="nofollow" target="_blank">Wikipedia</a>
                            }
                        </td>
                    </tr>
                }
            </table>
        </p>

        <h3>Description</h3>
        @if (Model.Description == null || Model.Description.Trim().Length <= 0)
        {
            <div class="alert">
                No description specified
            </div>
        }
        else
        {
            @Html.Raw(Model.Description)
        }
    </div>
    <div class="span6 well">
        <h3>Location</h3>
        <p>Coordinates: @Model.GeoLat, @Model.GeoLng</p>
        <div id="map_container">
            <div id="map_canvas" style="width: auto; height: 400px;"></div>
        </div>
    </div>
</div>
<div class="row-fluid row-content-block">
    <div class="span12 well">
        <h3>Turbines & Layout</h3>
        @if (Model.Turbines.Count == 0)
        {
            <div class="alert">
                No turbines specified
            </div>
        }
    </div>
</div>

@section scripts
{
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var map;
            var coord = new google.maps.LatLng(@Model.GeoLat, @Model.GeoLng);
            var mapOptions = {
                zoom: 10,
                minZoom: 1,
                center: coord,
                mapTypeId: google.maps.MapTypeId.SATELLITE
            };

            map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);

            var point = new google.maps.Marker({
                position: coord,
                draggable: false,
                raiseOnDrag: false,
                title: name,
                map: map
            });
            point.setIcon("https://maps.gstatic.com/mapfiles/ms2/micons/yellow-dot.png");
            point.visible = true;
        });    
    </script>
}
