@using Offwind.WebApp.Infrastructure
@model Offwind.WebApp.Areas.WindFarms.Models.VWindFarm

@{
    ViewBag.Title = "Wind Farm Editor | Wind Farms & Turbines Database | Offwind";
}

<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })"><i class="icon-home"></i></a> <span class="divider">/</span></li>
    <li><a href="@Url.Action("Index", "HomeWindFarms", new { area = "WindFarms" })">Wind Farms & Turbines Database</a> <span class="divider">/</span></li>
    <li><a href="@Url.Action("wind-farms", "HomeWindFarms", new { area = "WindFarms" })">Wind Farms</a> <span class="divider">/</span></li>
    <li class="active">Wind Farm Editor</li>
</ul>
<div class="row-fluid row-content-block">
    <div class="span12 well">
        <h1>Wind Farm Editor</h1>
        <form class="form-horizontal indent" method="post" novalidate="">
            @*@Html.ValidationSummary("", new { @class = "alert alert-error" })*@
            <fieldset>
                @Html.HiddenFor(model => model.Id)
                @Html.EditorFor(model => model.Name)
                @Html.EditorFor(model => model.Country, "Autocomplete")
                @Html.EditorFor(model => model.TotalCapacity)
                @Html.EditorFor(model => model.UrlOfficial)
                @Html.EditorFor(model => model.UrlPublicWiki)
                @Html.EditorFor(model => model.GeoLat)
                @Html.EditorFor(model => model.GeoLng)
                @Html.EditorFor(model => model.Description, "RtfEditor")

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $('#Country').typeahead({
            source: function (query, process) {
                return $.get('/common/countries', { query: query }, function (data) {
                    return process(data);
                });
            }
        });
    </script>
}
