@using Offwind.WebApp.Infrastructure.Navigation
@{
    var mainMenu = (Dictionary<string, NavItem<string>>) ViewBag.MainMenu;
}
<ul class="nav pull-right">

    @*<li><a href="@Url.Action("Index", "HomeLibrary", new { area = "Library" })">Library</a></li>*@

    @Html.Partial("__MainMenuCategory", mainMenu["info-about"])
    <li id="fat-menu" class="dropdown">
        <a href="#" role="button">
            Tools <i class="icon-caret-down"></i>
        </a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("Index", "EngineeringTools", new { area = "EngineeringTools" })">Engineering Tools</a></li>
            <li class="divider"></li>
            <li><a href="@Url.Action("Index", "CFD", new { area = "CFD" })">Advanced Tools</a></li>
            <li class="divider"></li>
            <li><a href="@Url.Action("Index", "HomeWindFarms", new { area = "WindFarms" })">Wind Farms & Turbines</a></li>
        </ul>
    </li>
    <li><a href="@Url.Action("Index", "HomePartners", new { area = "Partners" })">Partners</a></li>

    @*<li id="fat-menu" class="dropdown">
        <a href="#" role="button">
            Management <i class="icon-caret-down"></i>
        </a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("Mailing", "Mailing", new { area = "" })">Mailing</a></li>
            @if (ViewBag.IsAdmin)
            {
                <li class="divider"></li>
                <li><a href="@Url.Action("Index", "HomeMgmt", new { area = "ControlPanel" })">Control panel</a></li>
            }
        </ul>
    </li>*@

    @if (Request.IsAuthenticated)
    {
        <li id="fat-menu" class="dropdown">
            <a href="#" id="drop3" role="button">
                <i class="icon-user"></i> @User.Identity.Name
                <i class="icon-caret-down"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Profile", "Account", new {area = ""})">Profile</a></li>
                <li class="divider"></li>
                <li><a href="@Url.Action("LogOff", "Account", new {area = ""})">Sign Out</a></li>
            </ul>
        </li>
    }
    else
    {
        <li id="fat-menu" class="dropdown">
            <a href="#" id="drop3" role="button">
                <i class="icon-user"></i> Log in
                <i class="icon-caret-down"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Register", "Account", new { area = "" })">Register</a></li>
                <li class="divider"></li>
                <li><a href="@Url.Action("Login", "Account", new { area = "" })">Log in</a></li>
            </ul>
        </li>
    }
</ul>