@using Offwind.WebApp.Infrastructure
@using Offwind.WebApp.Infrastructure.Navigation

@{
    var navigation = (NavItem<NavUrl>)ViewBag.SideNav;
}

<ul class="nav nav-list bs-docs-sidenav">
    @foreach (var grp in navigation)
    {
        var grpClass = "";
        if (grp.IsActive)
        {
            grpClass = "open";
        }
        <li class="submenu @grpClass">
            <a>@grp.Title</a>
            <ul class="nav nav-list">
                @foreach (var item in grp)
                {
                    <li @this.ActiveIfCurrent(item.Url)>
                        <a href="@this.GenerateUrl(item.Url)">
                            @item.Title
                        </a>
                    </li>
                }
            </ul>
        </li>
    }
</ul>
