@model Offwind.WebApp.Models.VWebPage

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Navigation.Any())
{
    @Html.Partial("~/Views/Shared/__SideNav.cshtml")
}

<div class="content">
    <div class="container-fluid">
        <div class="row-fluid">

            @RenderBody()

            @Html.Partial("__Footer")
        </div>
    </div>
</div>

@section styles
{
    @RenderSection("styles", required: false)
}

@section scripts
{
    @RenderSection("scripts", required: false)
}