<li id="fat-menu" class="dropdown">
    
    @if (Request.IsAuthenticated)
    {
        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-user"></i> @User.Identity.Name
            <i class="icon-caret-down"></i>
        </a>

        <ul class="dropdown-menu">
            <li><a href="@Url.Action("Profile", "Account", new { area = "" })">Profile</a></li>
            <li class="divider"></li>
            <li><a href="@Url.Action("LogOff", "Account", new { area = "" })">Sign Out</a></li>
        </ul>
    }
    else
    {
        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-user"></i> Anonymous
            <i class="icon-caret-down"></i>
        </a>

        <ul class="dropdown-menu">
            <li><a href="@Url.Action("Register", "Account", new { area = "" })">Register</a></li>
            <li class="divider"></li>
            <li><a href="@Url.Action("Login", "Account", new { area = "" })">Log in</a></li>
        </ul>
    }
</li>
