<ul class="nav pull-right">
    @if (Request.IsAuthenticated)
    {
        <li id="fat-menu" class="dropdown">
            <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-user"></i> @User.Identity.Name
                <i class="icon-caret-down"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Profile", "Account", new {area = ""})">Profile</a></li>
                <li><a href="javascript: window.open('@Url.Action("Share", "Mailing", new { area = "" })');">Mailing</a></li>
                <li class="divider"></li>
                <li><a href="@Url.Action("LogOff", "Account", new {area = ""})">Sign Out</a></li>
                @if (ViewBag.IsAdmin)
                {
                    <li class="divider"></li>
                    <li><a href="@Url.Action("Index", "HomeMgmt", new { area = "ControlPanel" })">Content management</a></li>
                }
            </ul>
        </li>
    }
    else
    {
        <li id="fat-menu" class="dropdown">
            <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-user"></i> Anonymous
                <i class="icon-caret-down"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Register", "Account", new { area = "" })">Register</a></li>
                <li class="divider"></li>
                <li><a href="@Url.Action("Login", "Account", new { area = "" })">Log in</a></li>
            </ul>
        </li>
    }
</ul>