@model Offwind.WebApp.Areas.CFD.Models.Preprocessing.VTransportProperties
<form class="form-horizontal" method="post">
    <fieldset>
        @Html.EditorFor(m => m.MolecularViscosity)
        
        <div><b>CrossPowerLawCoeffs</b></div>
        <div class="indent">
            @Html.EditorFor(m => m.CplcNu0)
            @Html.EditorFor(m => m.CplcNuInf)
            @Html.EditorFor(m => m.CplcM)
            @Html.EditorFor(m => m.CplcN)
        </div>

        <div><b>BirdCarreauCoeffs</b></div>
        <div class="indent">
            @Html.EditorFor(m => m.BccNu0)
            @Html.EditorFor(m => m.BccNuInf)
            @Html.EditorFor(m => m.BccM)
            @Html.EditorFor(m => m.BccN)
        </div>
        
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn">Cancel</button>
        </div>

    </fieldset>
</form>
