@using Offwind.WebApp.Areas.ControlPanel.Models
@model VUsersHome

<h2>@ViewBag.HTitle</h2>

<table class="table table-striped table-bordered table-condensed">
    
    <tr>
        <th>Name</th>
        <th>Role</th>
        <th>Last visit</th>
        <th>Create date</th>
    </tr>
    
    @foreach (VUserProfile user in Model.Users)
    {
        <tr>
            <td>
                <p>
                    @Html.ActionLink(user.Name, "Edit", new { id = user.Id })
                </p>
            </td>
            <td>@user.SelectedRoles</td>
            <td>@user.LastVisit</td>
            <td>@user.CreateDate</td>
        </tr>        
    }
</table>

<p>
    @Html.ActionLink("Add new account", "Add")
</p>

