<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })"><i class="icon-home"></i></a> <span class="divider">/</span></li>
    <li><a href="@Url.Action("Index", "EngineeringTools", new { area = "EngineeringTools" })">Engineering Tools</a> <span class="divider">/</span></li>
    <li>Wake Simulation <span class="divider">/</span></li>
    <li>Simulation</li>
</ul>
<div class="row-fluid row-content-block">
    <div class="span12 well">
        <h4>Simulation</h4>
        <p>Now, you are ready to start simulation process. It takes about 10 seconds for default settings.
            Just push <b>"Start simulation"</b> button and wait. When it finishes another button <b>"Download result"</b>
            will be activated.
        </p>

        <p>
            <a class="btn btn-primary btn-large" href="#" id="button-run">Run simulation</a>
            <img id="loader-gif" class="hidden" src="@Url.Content("~\\static\\img\\ajax-loader.gif")"/>
        </p>

        <p id="result-image-container" class="hidden">
            <img id="result-image" width="480" height="320" src=""/>
        </p>

        <p>
            To download result click button below. It is a <b>zip-archive</b>. Save it on your local disk and unpack.
        </p>
        <p><a class="btn btn-success btn-large disabled" id="download-link" href="@Url.Action("DownloadResult", "WakeSimulation", new { area = "EngineeringTools" })">Download result</a></p>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            var canBeDownloaded = false;
            var imageQueryString = '';
            $('#download-link').click(function () {
                return canBeDownloaded;
            });

            function showResultImage() {
                $('#result-image-container').removeClass('hidden');
                imageQueryString = (new Date()).getTime().toString();
                $('#result-image').removeClass('hidden').attr('src', '@Url.Action("ResultImage", "WakeSimulation", new { area = "EngineeringTools" })?v=' + imageQueryString);
            }

            function allowDownloadLink() {
                canBeDownloaded = true;
                $('#download-link').removeClass('disabled');
            }

            $('#button-run').click(function () {
                $('#loader-gif').removeClass('hidden');
                $.ajax({
                    url: "@Url.Action("Run", "WakeSimulation", new { area = "EngineeringTools" })",
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    success: function () {
                        allowDownloadLink();

                        $('#loader-gif').addClass('hidden');

                        showResultImage();
                    }
                });
            });

            @if (ViewBag.HasResultImage)
            {
                <text>showResultImage();</text>
            }

            @if (ViewBag.HasResultFile)
            {
                <text>allowDownloadLink();</text>
            }
        });
    </script>    
}