<div class="span3">
    @Html.Partial("__SideNav")
</div>
<div class="span9">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home", new { area = "" })"><i class="icon-home"></i></a> <span class="divider">/</span></li>
        <li>Engineering Tools <span class="divider">/</span></li>
        <li>Wake Simulation <span class="divider">/</span></li>
        <li>Simulation</li>
    </ul>
    <h3>Simulation</h3>
    <p>Now, you are ready to start simulation process. It takes about 10 seconds for default settings.
        Just push <b>"Start simulation"</b> button and wait. When it finishes another button <b>"Download result"</b>
        will be activated.
    </p>

    <p>
        <a class="btn btn-primary btn-large" href="#" id="button-run">Run simulation</a>
        <img id="loader-gif" class="hidden" src="@Url.Content("~\\static\\img\\ajax-loader.gif")"/>
    </p>

    <p>
        To download result click button below. It is a <b>zip-archive</b>. Save it on your local disk and unpack.
    </p>
    <p><a class="btn btn-success btn-large disabled" id="download-link" href="@Url.Action("DownloadResult", "WakeSimulation", new { area = "EngineeringTools" })">Download result</a></p>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            var canBeDownloaded = false;
            $('#download-link').click(function () {
                return canBeDownloaded;
            });

            $('#button-run').click(function () {
                $('#loader-gif').removeClass('hidden');
                $.ajax({
                    url: "@Url.Action("Run", "WakeSimulation", new { area = "EngineeringTools" })",
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    success: function () {
                        canBeDownloaded = true;
                        $('#download-link').removeClass('disabled');
                        $('#loader-gif').addClass('hidden');
                    }
                });
                
            });
        });        
    </script>    
}