@model Offwind.WebApp.Models.VWebPage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })"><i class="icon-home"></i></a> <span class="divider">/</span></li>
    <li>CFD<span class="divider">/</span></li>
    @*<li><a href="@Url.Action("Index", "CFD", new { area = "CFD" })">CFD</a> <span class="divider">/</span></li>*@
    <li>@ViewBag.SectionTitle<span class="divider">/</span></li>
    <li>@ViewBag.ShortTitle</li>
</ul>
<div id="alert-saved"  class="alert alert-success hidden" style="width: 10%">
    <a class="close" data-dismiss="alert">×</a>
    Saved
</div>

@RenderBody()

@section styles
{
    @RenderSection("styles", false)
    <style type="text/css">
        form.indent label {
            padding-left: 1em;
        }
        form legend
        {
            font-size: 1em;
            font-weight: bold;
            line-height: 1.5em;
            margin-bottom: 0;
        }
    </style>
}

@section scripts
{
    @Scripts.Render("~/static/js/jquery.form.js")
    @Scripts.Render("~/static/js/jquery.inputmask/jquery.inputmask.js")
    @Scripts.Render("~/static/js/jquery.inputmask/jquery.inputmask.numeric.extensions.js")
    <script language="javascript">
        $(document).ready(function () {
            $('.inputmask.decimal').inputmask("decimal");
            $('.inputmask.integer').inputmask("integer");
            $('form').ajaxForm(function () {
                $('#alert-saved').removeClass('hidden').hide().fadeIn();
            });
            $('#alert-saved').bind('close', function () {
                $('#alert-saved').fadeOut();
                return false;
            });
            $('input[type=checkbox]').change(function () {
                var checked = $(this).attr('checked') != undefined;
                $(this).attr('value', checked);
            });
            $('li.disabled a').click(function() {
                return false;
            });
        });        
    </script>
    @RenderSection("scripts", false)
}